@model IEnumerable<WebApplication8.Models.DbPa>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p><form enctype="multipart/form-data" method="post" asp-action="Import">
    <input type="file" name="excelfile" />
    <input type="submit" value="上传" />
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Em)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Em)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Em.EmName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Em.Branch)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
