@model WebApplication8.Models.DbPax

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>DbPax</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pax1_ID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pax1_ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pa.PaId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Qu)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Qu.Difficulty)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PaxId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
