@model WebApplication8.Models.DbPax
@{
    Layout = "_Layout_employee";
}
@{
    ViewData["Title"] = "Create";
    string answer = null;
    if (ViewData["ans"] != null)
    {
        var ans = ViewData["ans"];
        answer = ans.ToString();

    }
}

@{
    if (ViewData["ErrorSign"] != null)
    {

        <script src="~/lib/jquery/dist/jquery.js" type="text/javascript"></script>
        <script type="text/javascript" language="javascript">
            $(document).ready(function () {

                alert("请作答当前试题");

            });
        </script>
    }
}
<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="#">Home</a>
                </li>

                <li>
                    <a href="#">模拟答题</a>
                </li>

                <li class="active">多选</li>

            </ul><!-- /.breadcrumb -->


        </div>


    </div><!-- /.row -->
</div><!-- /.page-content -->


<hr />
<form asp-controller="DbPaxes" asp-action="Create">
    <p>
        题目反馈: <input type="text" name="SearchString">
        <input type="submit" value="反馈" />
    </p>

</form>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PaxId" />
            <table>
                <tr>
                    <td>
                        <input type="hidden" id="num" asp-for="Pax1_ID" />
                    </td>

                    <td></td>
                </tr>
                <tr>

                    <td width="80px" valign="top">
                        （多选)@Html.DisplayFor(modelItem => Model.Pax1_ID) .

                    </td>
                    <td>@Html.DisplayFor(modelItem => modelItem.Qu.Question)</td>
                </tr>
                @{
                    if (answer == null)
                    {

                        <tr>

                            <td style="text-align:center"><input type="checkbox" id="ch_1" Name="checkBox" value="A" /></td>
                            <td>A. @Html.DisplayFor(modelItem => Model.Qu.OptionA)</td>
                        </tr>
                        <tr>

                            <td style="text-align:center"><input type="checkbox" id="ch_2" Name="checkBox" value="B" /></td>
                            <td>B. @Html.DisplayFor(modelItem => Model.Qu.OptionB)</td>
                        </tr>
                        <tr>

                            <td style="text-align:center"><input type="checkbox" id="ch_3" Name="checkBox" value="C" /></td>
                            <td>C. @Html.DisplayFor(modelItem => Model.Qu.OptionC)</td>
                        </tr>
                        <tr>
                            <td style="text-align:center"><input type="checkbox" id="ch_4" Name="checkBox" value="D" /></td>
                            <td>D. @Html.DisplayFor(modelItem => Model.Qu.OptionD)</td>
                        </tr>

                    }
                    else
                    {
                        string[] a = answer.Split(",");

                        if (a.Contains("A"))
                        {
                            <tr>

                                <td style="text-align:center"><input type="checkbox" id="ch_1" Name="checkBox" value="A" checked="checked" /></td>
                                <td>A. @Html.DisplayFor(modelItem => Model.Qu.OptionA)</td>
                            </tr>
                        }
                        else
                        {
                            <tr>

                                <td style="text-align:center"><input type="checkbox" id="ch_1" Name="checkBox" value="A" /></td>
                                <td>A. @Html.DisplayFor(modelItem => Model.Qu.OptionA)</td>
                            </tr>

                        }
                        if (a.Contains("B"))
                        {
                            <tr>

                                <td style="text-align:center"><input type="checkbox" id="ch_2" Name="checkBox" value="B" checked="checked" /></td>
                                <td>B. @Html.DisplayFor(modelItem => Model.Qu.OptionB)</td>
                            </tr>

                        }
                        else
                        {
                            <tr>

                                <td style="text-align:center"><input type="checkbox" id="ch_2" Name="checkBox" value="B" /></td>
                                <td>B. @Html.DisplayFor(modelItem => Model.Qu.OptionB)</td>
                            </tr>

                        }
                        if (a.Contains("C"))
                        {
                            <tr>

                                <td style="text-align:center"><input type="checkbox" id="ch_3" Name="checkBox" value="C" checked="checked" /></td>
                                <td>C. @Html.DisplayFor(modelItem => Model.Qu.OptionC)</td>
                            </tr>
                        }
                        else
                        {
                            <tr>

                                <td style="text-align:center"><input type="checkbox" id="ch_3" Name="checkBox" value="C" /></td>
                                <td>C. @Html.DisplayFor(modelItem => Model.Qu.OptionC)</td>
                            </tr>

                        }
                        if (a.Contains("D"))
                        {
                            <tr>
                                <td style="text-align:center"><input type="checkbox" id="ch_4" Name="checkBox" value="D" checked="checked" /></td>
                                <td>D. @Html.DisplayFor(modelItem => Model.Qu.OptionD)</td>
                            </tr>

                        }
                        else
                        {
                            <tr>
                                <td style="text-align:center"><input type="checkbox" id="ch_4" Name="checkBox" value="D" /></td>
                                <td>D. @Html.DisplayFor(modelItem => Model.Qu.OptionD)</td>
                            </tr>

                        }



                    }

                }

            </table>
            <div class="form-group">
                <input type="submit" value="上一题" class="btn btn-default" name="edit" />
                <input type="submit" id="sub" value="下一题" class="btn btn-default" name="edit" />
            </div>

        </form>
    </div>
</div>
<div>
    <a asp-action="Details">返回题目列表</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


<script src="~/lib/jquery/dist/jquery.js" type="text/javascript"></script>
<script type="text/javascript" language="javascript">
    $(document).ready(function () {

        $("#sub").click(function () {

            if ($("#num").val() == "30") {
                if (confirm("确认提交试卷？")) {

                }
                else {

                }

            }
        });

    });
</script>



