@model IEnumerable<WebApplication8.Models.DbPo>
@{
    Layout = "_Layout_admin";
}
@{
    ViewData["Title"] = "Index";
}

<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="#">Home</a>
                </li>

                <li>
                    <a href="#">系统管理</a>
                </li>
                <li class="active">权限管理</li>
            </ul><!-- /.breadcrumb -->

            <div class="nav-search" id="nav-search">
                <form class="form-search">
                    <span class="input-icon">
                        <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                        <i class="ace-icon fa fa-search nav-search-icon"></i>
                    </span>
                </form>
            </div><!-- /.nav-search -->
        </div>


    </div><!-- /.row -->
</div><!-- /.page-content -->


<table class="table table-striped">
    <thead>
        <tr>
            <th>
                权限
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PoName)
                </td>
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.PoId">修改</a> |

                    <a asp-action="Delete" asp-route-id="@item.PoId">删除</a>*@



                    <a asp-action="Details" asp-route-id="@item.PoId" class="tooltip-info" data-rel="tooltip" title="Details">
                        <span class="blue">
                            <i class="ace-icon fa fa-search-plus bigger-120"></i>
                        </span>
                    </a>



                    <a asp-action="Edit" asp-route-id="@item.PoId" class="tooltip-success" data-rel="tooltip" title="Edit">
                        <span class="green">
                            <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                        </span>
                    </a>



                    <a asp-action="Delete" asp-route-id="@item.PoId" class="tooltip-error" data-rel="tooltip" title="Delete">
                        <span class="red">
                            <i class="ace-icon fa fa-trash-o bigger-120"></i>
                        </span>
                    </a>

                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <a asp-action="Create">添加权限</a>
</p>
